.profile__edit-button {
    margin-left: 18px;
    min-width: 24px;
    height: 24px;
    background-image: url(/images/buttonEdit.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    align-self: center;
    border: 1px solid white;
}

@media screen and (max-width: 650px) {
    .profile__edit-button {
        min-width: 18px;
        max-width: 320px;
        height: 18px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}