.logo {
    width: 142px;
    height: 33px;
    margin-top: 45px;
    margin-bottom: 36px;
}

@media screen and (max-width: 900px) {
    .logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 650px) {
    .logo {
        width: 104px;
        margin-top: 28px;
        margin-bottom: 27px;
    }
}