.element__trash {
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    padding: 0;
    position: absolute;
    background: url(../../../images/trashFull.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}

.element__trash:hover {
    opacity: 0.5;
}